* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Vazirmatn', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;

  background:
    radial-gradient(circle at 10% 10%, #b8ffa6 0 120px, transparent 121px),
    radial-gradient(circle at 90% 20%, #ffe8d3 0 140px, transparent 141px),
    radial-gradient(circle at 20% 90%, #ffc7e9 0 160px, transparent 161px),
    linear-gradient(180deg, #b7ecff 0%, #d8fff0 60%, #fff5d6 100%);
}

.cloud {
  position: absolute;
  width: 220px;
  height: 70px;
  background: rgba(255,255,255,0.85);
  border-radius: 999px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);

  cursor: grab;
  transition: left 0.6s ease, top 0.6s ease;
}

.cloud:active {
  cursor: grabbing;
  transition: none;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: rgba(255,255,255,0.9);
  border-radius: 999px;
  z-index: 2;
}

.cloud::before {
  width: 90px;
  height: 90px;
  right: 30px;
  top: -35px;
}

.cloud::after {
  width: 70px;
  height: 70px;
  right: 120px;
  top: -25px;
}


.c1 { top: 70px; left: 84%; animation: float1 8s ease-in-out infinite; }
.c2 { top: 160px; left: 8%; animation: float2 10s ease-in-out infinite; }
.c3 { top: 260px; left: 70%; animation: float1 12s ease-in-out infinite; }

@keyframes float1 {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(-30px); }
}

@keyframes float2 {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(35px); }
}



.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 600px;
  z-index: 2;
}

a {
  text-decoration: none;
}

.game-btn {
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.3s, filter 0.3s;
  position: relative;
  z-index: 1;
}

.game-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px 10px rgba(255, 255, 150, 0.7), 0 12px 25px rgba(0,0,0,0.15);
}

.game-btn img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 12px;
}



.cloud:hover .eyes {
  transform: translateX(-50%) translateY(-16px);
}

footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #555;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffd3e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7f7ff;
  border-radius: 10px; 
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff6a6;
}





