* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Vazirmatn', sans-serif;
  padding: 20px;
  overflow-x: hidden;

  background:
    radial-gradient(circle at 10% 10%, #b8ffa6 0 120px, transparent 121px),
    radial-gradient(circle at 90% 20%, #ffe8d3 0 140px, transparent 141px),
    radial-gradient(circle at 20% 90%, #ffc7e9 0 160px, transparent 161px),
    linear-gradient(180deg, #b7ecff 0%, #d8fff0 60%, #fff5d6 100%);
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(6px);
  padding: 10px 18px;
  border-radius: 999px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 10;
}

.back-btn:hover {
  background: #e8f5e9;
  transform: translateX(-3px);
}



.cloud {
  position: absolute;
  width: 220px;
  height: 70px;
  background: rgba(255,255,255,0.85);
  border-radius: 999px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
  cursor: grab;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: rgba(255,255,255,0.9);
  border-radius: 999px;
}

.cloud::before {
  width: 90px;
  height: 90px;
  right: 30px;
  top: -35px;
}

.cloud::after {
  width: 70px;
  height: 70px;
  right: 120px;
  top: -25px;
}

.c1 { top: 70px; left: 80%; animation: float1 8s ease-in-out infinite; }
.c2 { top: 160px; left: 10%; animation: float2 10s ease-in-out infinite; }
.c3 { top: 260px; left: 65%; animation: float1 12s ease-in-out infinite; }

@keyframes float1 {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(-30px); }
}
@keyframes float2 {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(35px); }
}



.ship {
  position: fixed;
  bottom: 40px;
  left: -200px;
  width: 300px;
  z-index: 2;
  pointer-events: none;
  animation: shipMove 15s linear infinite, shipWave 3s ease-in-out infinite;
}

@keyframes shipMove {
  from { left: -200px; }
  to   { left: 100%; }
}
@keyframes shipWave {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.bird {
  position: fixed;
  top: 120px;
  left: -100px;
  width: 80px;
  z-index: 2;
  pointer-events: none;

  animation:
    bird-fly 12s linear infinite,
    bird-wave 3s ease-in-out infinite,
    bird-flap 0.4s steps(1) infinite;
    
}


@keyframes bird-fly {
  from { left: -100px; }
  to   { left: 100%; }
}


@keyframes bird-flap {
  0%   { content: url("images/bird1.png"); }
  25%  { content: url("images/bird2.png"); }
  50%  { content: url("images/bird3.png"); }
  75%  { content: url("images/bird2.png"); }
}

@keyframes bird-wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.game-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.3s;
}




.games-mid .game-btn {
  pointer-events: auto;
}
.games-mid {
  pointer-events: none;
}




 
@keyframes mid-btn {
  0%  { transform: translateY(0px); }
  100%  { transform: translateY(-153px); }

}
@keyframes azL-btn {
  0%  { transform: translateX(0px); }
  100%  { transform: translateX(-70px); }

}
@keyframes azR-btn {
  0%  { transform: translateX(0px); }
  100%  { transform: translateX(70px); }

}

a {
  text-decoration: none;
  position: relative;
  z-index: 10;
  color: inherit;
}

.games-mid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  position: relative;
  font-size: 0.8rem;
  z-index: 10;
  animation: mid-btn 2.5s forwards;
}

.games {
  
  margin-top: 180px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin-inline: auto;
  position: relative;;
}


.game-btnL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  animation: azL-btn 1.5s forwards;
  z-index: 10;
  
}
.game-btnR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  animation: azR-btn 1.5s forwards;
  z-index: 10;
  
}

.game-btn:hover,
.game-btnL:hover,
.game-btnR:hover
 {
  transform: translateY(-15px);
  box-shadow: 0 0 30px rgba(255,255,150,0.7), 0 12px 25px rgba(0,0,0,0.15);
}


.game-btnL img,
.game-btnR img {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 12px;
  text-decoration: none;
}

.games-mid img {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 12px;
  text-decoration: none;
}


.wave-container {
  position: fixed;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
  pointer-events: none;

}
.back  { z-index: 1; }
.front { z-index: 3; }

.wave-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

.wave {
  width: 100vw;
  flex: 0 0 100vw;
  height: auto;
}

.wave1 {z-index: 1; opacity: 0.8; animation: waveMove 14s linear infinite; }
.wave2 {z-index: 1; opacity: 0.9; animation: waveMove 11s linear infinite; }
.wave3 {z-index: 3; opacity: 0.95; animation: waveMove 16s linear infinite; }
.wave4 {z-index: 3; opacity: 1; animation: waveMove 20s linear infinite; }

@keyframes waveMove {
  from { transform: translateX(0); }
  to   { transform: translateX(-200vw); }
}



::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #ffd3e7;
}
::-webkit-scrollbar-thumb {
  background: #c7f7ff;
  border-radius: 10px;
}

@media (max-width: 768px) {

  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  .cloud {
    transform: scale(0.6);
    transform-origin: top left;
  }

  .bird {
    width: 60px;
    height: auto;
    
    animation:
      bird-fly 4s linear infinite,
      bird-wave 3s ease-in-out infinite,
      bird-flap 0.4s steps(1) infinite;
  }

  .ship {
    width: 160px;
    height: auto;
    bottom: 1px;
  }

  .games {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 5px;
  }
  .games-mid {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 2px;
    animation: none;
    width: 30%;
    
  }
  .game-btn {
    font-size: 14px;
    padding: 10px 12px;
    width: 100%;
    margin: auto;
    animation: none;
  }

  .game-btnR,
  .game-btnL {
    font-size: 14px;
    padding: 10px 12px;
    width: 50%;
    height: 40%;
    margin: auto;
    animation: none;
  }

  .game-btnR img,
  .game-btnL img {
    width: 80px;
    height: auto;
  }
  .game-btn img {
    width: 20px;
    height: auto;
  }

  .wave {
    height: 100px;
  }

  footer {
    height: 40px;
  }

  h1 {
    font-size: 20px;
  }
}





